body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "emoji";
  src:
    local("Apple Color Emoji"), local("Android Emoji"), local("Segoe UI Emoji"),
    local("Noto Color Emoji");
  unicode-range:
    U+1F000-1F644, U+200D, U+231A-231B, U+25FD-25FE, U+2600-27BF, U+FE0F,
    U+1F900-1F9FF;
  size-adjust: 150%;
}

html,
body {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  color: #E5E7EB;
  background-color: #121826;
  background-image: url("resources/Background_image.svg");
}

.container {
  width: 100%;
  margin: 3.75rem auto;
}

.header {
  margin: 1rem auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-block-end: 2rem;
}

.header__title--line {
    display: block;
}

p.header__text {
  font-size: 1rem;
  font-weight: 400;
  color: #D2D5DA;
}

.grid-container {
  width: 75rem;
  max-width: calc(80% - 20px);
  margin: 0 auto;
  display: grid;
  padding: 0.6rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: center;
  gap: 12px;
}

.card {
  padding: 2em;
  background-color: #212936;
  border-radius: 15px;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
}

.card__circle-one,
.card__circle-two,
.card__circle-three {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

.card__circle-one {
    background-color: #FCEED8;
}

.card__circle-two {
    background-color: #DEE9FC;
}

.card__circle-three {
    background-color: #FBE5E6;
}

.card__circle-emoji {
  font-family: "emoji", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
}

h2.card__title {
  font-size: 1.25rem;
}

p.card__text {
  line-height: 1.5;
}

.card__image img {
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 48rem) {
  .container {
    margin: 5rem auto;
  }
}
